<footer id="footer" class="bg-primary py-5 mt-5 text-light">
  <div class="container text-center mb-5">
    <p class="display-5 mb-3">
      <img id="logo" src="assets/images/logo.png" alt="logo universidad Eafit">  | Estramipyme
    </p>
    <small>&copy; Todos los derechos reservados</small>
  </div>
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-md-4">
        <h5>Información</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1">Teléfonos: +xx xxxxxxxxx</li>
          <li class="mb-1">Correo: Eafit&#64;eafit.edu.co</li>
          <li class="mb-1">Ciudad: Medellín</li>
          <li class="mb-1">Dirección: xxxxxxx</li>
          <li class="mb-1">
            <a class="link-secondary text-decoration-none" target="_blank" href="https://storyset.com/people">People illustrations by Storyset</a>
          </li>
          
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Recursos</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1">
            <a class="link-secondary text-decoration-none" href="#">Plantillas educativas</a>
          </li>
          <li class="mb-1">
            <a class="link-secondary text-decoration-none" href="#">Guía institucional</a>
          </li>
          <li class="mb-1">
            <a class="link-secondary text-decoration-none" href="#">Colaboradores</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contactanos</h5>
        <ul class="list-unstyled d-flex text-small">
          <li class="mx-1">
            <a class="link-secondary text-decoration-none" href="#"><i class="fa-brands fa-square-instagram"></i></a>
          </li>
          <li class="mx-1">
            <a class="link-secondary text-decoration-none" href="#"><i class="fa-brands fa-square-facebook"></i></a>
          </li>
          <li class="mx-1">
            <a class="link-secondary text-decoration-none" href="#"><i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li class="mx-1">
            <a class="link-secondary text-decoration-none" href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
