#login {
  .form {
    width: 30%;
    margin-top: 50px;
    #user {
      border: 1px solid #000;
      padding: 20px;
      border-radius: 30%;
    }
  }
}
#logo {
  width: 80px;
}
/* Exact width */
@media (max-width: 600px) {
  #login {
    .form {
      width: 90%;
    }
  }
}
