<section id="home" class="container py-5">
  <div class="row align-items-center py-4">
    <div class="col-sm-12 col-md-6 mb-4 mb-md-0">
      <img [src]="introImgURL" alt="Introducción a Estramipyme" class="img-fluid rounded">
    </div>
    <div class="col-sm-12 col-md-6">
      <h2 class="pb-2">¿Qué es Estramipyme?</h2>
      <p>
        Estramipyme es una metodología creada para ayudar a las micro, pequeñas
        y medianas empresas a formular y ejecutar estrategias competitivas de
        manera fácil y ágil. Desarrollada por estudiantes de MBA de la
        Universidad EAFIT, bajo la supervisión de Luz María Rivas-Montoya, esta
        herramienta accesible y práctica utiliza herramientas estratégicas como
        el Círculo Dorado de Sinek y el Reloj Estratégico de Faulkner y Bowman.
      </p>
    </div>
  </div>
</section>