<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img id="logo" src="assets/images/logo.png" alt="logo universidad Eafit"> | Estramipyme
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex justify-content-end w-100">
        <ul class="navbar-nav mb-2 mb-lg-0 ml-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">
              <i class="pi pi-home"></i>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features">
              <i class="pi pi-list"></i>
              Características
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#testimonials">
              <i class="pi pi-id-card"></i>
              Testimonios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">
              <i class="pi pi-sign-in"></i>
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
