/* You can add global styles to this file, and also import other style files */
$primary:       #000066;
$dashboardBg: #eff3f8;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "primeicons/primeicons.css";

.dashboard-background {
  background-color: $dashboardBg;
}
.text-format {
  max-width: 75ch;
  text-align: justify;
}