/* You can add global styles to this file, and also import other style files */
$primary:       #000066;
$secondary:     #fff;
$menuBg: rgb(35, 77, 3);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "primeicons/primeicons.css";
