<div id="data-view">
  <p-dataView #dv [value]="methods">
    <ng-template pTemplate="list" let-methods>
      <div class="grid grid-nogutter">
        <div class="row dashboard-background" *ngFor="let item of methods; let first = first">
          <p-panel [toggleable]="true" class="mb-3">
            <ng-template pTemplate="header">
                <div class="d-flex align-items-center gap-2">
                    <p-avatar 
                        [image]="item.img" 
                        size="large" 
                        shape="circle" />
                    <span class="font-bold">
                        {{item.title}}
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
              <button class="btn btn-primary " [routerLink]="handlePath(item.link)"><i class="pi pi-pencil"></i> Comenzar</button>
            </ng-template>
            <p class="text-format m-0">
              {{item.description}}
            </p>
        </p-panel>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>